*{
	padding: 0;
	margin:0;
}
a{
	text-decoration: none;
}
.biaotou{
	width: 100%;
	height:86px;
	background-color: #ffffff;
	float: left;
	margin: 0 auto;
}
.biaotou1{
	padding-top: 35px;
	padding-left: 100px;
	float: left;
}
.biaotou2{
	padding-left: 150px;
	color: #2756a4;
	padding-top: 50px;
	float:left;
}
.biaotou3{
	color: #7d7d7d;
	padding-top: 50px;
	padding-left: 31px;
	float: left;
}
.biaotou4{
	color: #ef2c34;
	float: left;
	padding-left: 23px;
	padding-top: 50px;
}
.biaotou5{
	color:#7d7d7d;
	padding-top: 50px;
	padding-left: 1px;
}
.biaotou6{
	float: left;
	padding-left: 63px;
	list-style: none;
	padding-top: 10px;
}
.biaotou7{
	float: left;
	list-style: none;
	padding-left: 100px;
	padding-top: 10px;
}
.biaotou8{
	float: left;
	padding-top: 10px;
	padding-left: 10px;
}
.daohang{
	width: 100%;
	height:68px;
	background-color: #ffffff;
	float: left;
	margin: 0 auto;
}
.a{
	width: 100%;
	height: 1546px;
	background-color: #f6f6f6;
	margin: 0 auto;
}
.a1{
	width: 100%;
	height: 35px;
	float: left;
	margin: 0 auto;
	background-color: #f6f6f6;
}
.a12{
	padding-top: 13px;
	padding-left: 100px;
	float: left;
	color: #999999;
	font-size: 14px;
}
.a13{
	padding-top: 13px;
	padding-left: 14px;
	font-size: 14px;
	color: #999999;
	float: left;
}
.a14{
	padding-top: 13px;
	padding-left: 14px;
	font-size: 14px;
	color: #5c7fb9;
	float: left;
}
.a2{
	width: 100%;
	height: 181px;
	float: left;
	background-color: #f6f6f6;
}
.a21{
	font-size: 24px;
}
.a22{
	list-style: none;
	padding-top: 64px;
	padding-left: 100px;
	float: left;
}
.a23{
	color: #999999;
}
.a3{
	width: 1200px;
	height: 1604px;
	background-color: #ffffff;
	margin-top:500px;
	margin-left: 100px;
	margin: 0 auto;
}
.a4{
	width: 1200px;
	height: 86px;
	margin: 0 auto;
	float: left;
}
.a41{
	padding-top: 260px;
	text-align: center;
	font-size: 20px;
}
.a42{
	padding-left: 970px;
}
.a5{
	width: 1200px;
	height: 620px;
	margin: 0 auto;
	float: left;
}
.a51{
	padding-top: 300px;
	text-align: center;
	font-size: 14px;
	float: left;
}
.a52{
	margin-left: 184px; 
	float: left;
}
.a61{
	
	padding-top: 1100px;
	padding-left: 489px;
}
.a62{
	text-indent: 2em;
}
.a7{
	color: #0b4199;
	padding-top: 84px;
}
.a8{
	color: #0b4199;
}
/*底部蓝框*/
.bo1{
    height:63px;
    width:100%;
    background-color: #0b4199;
    margin-top: 50px;
}
.bo1 .bo{
    height:63px;
    width:1202px;
    margin:0 auto;
    background-color:#0b4199;
}
.pi1{
    padding-top:14px;
    float:left;
}
.pi2{
    padding-top:22px;
    padding-left:5px;
    color: #ffffff; 
    float:left;
}
.pi3{
    padding-top:14px;
    padding-left: 180px;
    float:left;
}
.right{
    float:right;
}
.p3{

}
.pi4{
    padding-top:16px;
    color: #ffffff;
    float:left;
}
.pi5{
    float:left;
    padding-top: 10px;
    padding-left: 5px;
}
/*底部开始*/
.bo2{
    height:303px;
    width:100%;
    background-color:#454545;
}
.bo2 .boo{
    height:260px;
    width:1202px;
    margin:0 auto;
    background-color:#454545;
}
.boo1{
    width: 170px;
    height: 260px;
    margin-left: 0;
    float: left;
    color:#ffffff;
}
.boo11{
    padding-left:0;
    padding-top: 53px;
    font-family: '微软雅黑';
    font-size: 16px; 
}
.boo12{
    margin-top: 23px;
    padding-left: 0px;
    line-height: 24px; 
    font-size: 14px;
    font-family: '微软雅黑';
}
.pic1{
    float:left;
    padding-left: 0;
    padding-right: 50px;
    padding-top: 34px;
}
.pic2{
    padding-top:30px;
}
.pic3{
    padding-top: 18px;
}
.f1{
    color:#ffffff;
    font-size: 14px;
}
.w{
    margin-top: 25px;
    margin-right: 25px;
    float:right;
    width:265px;
    height: 110px;
    font-size: 12px;
    color:#ffffff;
}
.w1{
    width:53px;
    height: 110px;
    float: left;
    line-height: 22px;
}
.w0{
    padding-top:22px;
    float:right;
}
.w2{
    width:290px;
    height: 110px;
    line-height: 22px;
}
.f2{
    padding-top: 15px;
    color:#c3c3c3;
    font-size: 12px;
    padding-left: 332px;
    float:left;
}
.f3{
    padding-top: 15px;
    padding-left:140px;
    color:#c3c3c3;
    font-size: 12px;
    float:left;
}
.f4{
    padding-top: 15px;
    padding-left: 14px;
    color:#c3c3c3;
    font-size: 12px;
    float:left;
}
/*侧导航栏*/
.ce{
	position:fixed;
	top:80px;
	right:8px;
	height: 310px;
	width: 86px;
	background:#b0b0b0;
}
.little{
	height: 84px;
	width: 84px;
	border-bottom:1px dashed #ffffff;
}
.ce .tu{
	padding-top:7px;
	padding-left:22px;
	padding-right:22px;
}
.ce .zi{
	width: 84;
	height: 29px;
	line-height: 29px;
	font-size:12px;
	color:white;
	text-align:center;
}
.little2{
	background: #8d8d8d;
	height: 84px;
	width: 84px;
	border-bottom:1px dashed #ffffff;
}
.zi .zimu{
	color:#8d8d8d;
}
.ce .tu1{
	padding-top:7px;
	padding-left:30px;
	padding-right:30px;
}
